.board__column-indicators__entry {
    color: #666;
    font-size: 12px;
    text-align: center;
}

.board__row__cell {
    width: 20px;
    height: 20px;
    margin: 1px;
    font-size: 15px;
    border: 1px #999 outset;
    background-color: #bbb;
    font-weight: bolder;
    text-align: center;
}

.board__row__cell--has-icon {
    font-size: 13px;
}

.board__row__cell--closed {
    border-color: #282c34;
    background-color: #333a49;
    cursor: pointer;
}

.board__row__cell--closed:hover {
    background-color: #3b4762;
}

.board__row__cell--highlighted {
    background-color: #999933;
}